extends layout

block extrahead
    link(rel="stylesheet", type="text/css", href="/stylesheets/stili.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/spinner.css")
    script(src="/javascripts/fribox.js")

block glava
    .loading(style="display: none;") Prosimo, počakajte ...
    glava.navbar.navbar-expand-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navigacijskeKontrole", aria-controls="navigacijskeKontrole", aria-expanded="false", aria-label="Toggle navigation")
        a.navbar-toggler-icon
      |     
      a.navbar-brand(href="#")
        img(src="/images/fribox.png")
      |     
      #navigacijskeKontrole.collapse.navbar-collapse
        ul
          form.form-inline.my-2.my-lg-0(action="/nalozi", method="post", enctype="multipart/form-data")
            input#datoteka.form-control.mr-sm-2(type="file", name="upload")
            | 	  
            button#nalozi.rob.senca.my-2.my-sm-0(type="submit") Naloži novo datoteko

block telo
    telo#datoteke.senca.rob

block noga
    noga
      img(src="/images/fri.png", width="100px")
